.content{
  width: 100%;

  .become-developer{
    width: 100%;
    height: 450px;

    display: flex;
    flex-wrap: wrap;

    .left{
      @include myflex-center;

      width: 45%;
      height: 100%;

      .cont{
        width: 60%;
        height: 70%;
      }

      h1{
        color: $booleanGreen;
        font-size: 45px;
        font-weight: 400;

        margin-bottom: 8px;
      }

      p{
        color: $principalColor;
        font-size: 18px;

        margin: 0 0 40px;
      }

      a{
        color: white;
        background-color: #F47637;
        font-size: 18px;

        max-width: 40%;

        padding: 15px 20px;
      }
    }

    .right{
      width: 55%;
      height: 100%;

      @include myflex-center;

      >img{
        max-width: 75%;
        max-height: 70%;
      }
    }
  }

  .partners{
    width: 100%;
    height: 200px;

    @include myflex-center;
    flex-direction: column;

    color: white;
    background-color: $principalColor;

    >h2{
      margin: 0 0 8px;

      font-weight: 400;
    }

    >.brands{
      >img{
        width: 150px;
        height: 35px;

        margin: 20px;
        padding: 0 15px;
      }
    }
  }

  .why-boolean{
    height: 450px;
    width: 100%;

    padding: 40px;

    background-color: #E8EBF1;
    color: $principalColor;

    >h2{
      text-align: center;
      margin: 0 0 20px;

      font-size: 32px;
      font-weight: 400;
    }

    .points{
      width: 100%;

      @include myflex-center;
      flex-wrap: wrap;

      .point{
        width: 30%;

        padding: 0 15px;

        >img{
          width: 25px;
          height: 30px;
        }

        >h3{
          display: inline;

          font-size: 18px;
          font-weight: 400;
        }

        >p{
          margin: 25px 0 16px;

          font-size: 14px;
        }
      }
    }
  }

  .new-profession{
    width: 100%;
    height: 400px;

    background-color: $principalColor;
    color: white;

    @include myflex-center;
    flex-direction: column;

    position: relative;

    >h2{
      font-weight: 300;
      font-size: 32px;

      margin-top: 40px;
      margin-bottom: 20px;
      padding: 0 20px;
    }

    >p{
      font-weight: 300;
      font-size: 18px;

      margin-bottom: 20px;
      padding: 0 20px;
    }

    a{
      font-size: 24px;
      background-color: #F47637;
      color: white;

      margin: 30px 0 0;
      padding: 15px 50px;
    }

    .next-course{
      width: 260px;
      height: 50px;

      @include myflex-center;

      position: absolute;
      top: 10%;
      right: 20%;

      >.bell{
        @include myflex-center;

        width: 70px;
        height: 70px;

        background-color: white;
        border-radius: 50px;

        z-index: 500;

        >i.far.fa-bell{
          color: $principalColor;
          font-size: 25px;
        }
      }

      >.green-block{
        width: 260px;
        height: 50px;

        line-height: 50px;
        text-align: center;

        padding-left: 25px;

        border-radius: 25px;

        background-color: $booleanGreen;

        position: absolute;
        top: 0;
        left: 50%;
      }
    }
  }
}
