header{
  width: 100%;
  height: 14%;

  background-color: white;

  display: flex;

  position: sticky;
  top: 0;
  z-index: 1000;

  >.left-header{
    width: 40%;
    height: 100%;

    display: flex;
    align-items: center;

    padding-left: 15px;

    >img{
      max-width: 90%;
      max-height: 60%;

      padding-left: 10px;

      cursor: pointer;
    }
  }

  >.right-header{
    width: 60%;
    height: 100%;

    .navbar{
      width: 100%;
      height: 100%;

      display: flex;
      justify-content: space-around;
      align-items: center;

      >.navbar-item{
        >a.item{
          color: $principalColor;
          font-size: 15px;

          padding: 10px;

          &:hover{
            border-bottom: 2px solid $booleanGreen;
          }
        }

        >a#subscribe{
          background-color: #F47637;
          border-radius: 2px;
          color: white;

          padding: 8px 20px;

          font-size: 16px;
        }
      }
    }
  }

  i.fas.fa-bars{
    padding-right: 20px;

    font-size: 30px;
    color: $principalColor;

    display: none;

    cursor: pointer;
  }
}
