@media all and (max-width : 1000px){
  .navbar-item{
    display: none;
  }

  .become-developer{
    height: auto !important;
    margin-bottom: 50px;

    .left{
      margin-bottom: 50px;
    }
  }

  .become-developer > .left,.become-developer > .right{
    width: 100% !important;
  }

  .partners{
    display: none !important;
  }

  .why-boolean{
    height: auto !important;
  }

  .point{
    width: 100% !important;
  }

  .right-header{
    @include myflex-center;

    i.fas.fa-bars{
      display: block !important;
    }
  }

  .next-course{
    top: 3% !important;
    right: 40% !important;
  }

  .prefooter > .links{
    width: 100% !important;
  }

  .boolean-returns{
    padding: 0 20px;
  }
}
