@import url(https://fonts.googleapis.com/css?family=Rubik);* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 15%;
  background-color: white;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

header > .left-header {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

header > .left-header > img {
  max-width: 90%;
  max-height: 60%;
  padding-left: 10px;
  cursor: pointer;
}

header > .right-header {
  width: 60%;
  height: 100%;
}

header > .right-header .navbar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header > .right-header .navbar > .navbar-item > a.item {
  color: #1B3C59;
  font-size: 15px;
  padding: 10px;
}

header > .right-header .navbar > .navbar-item > a.item:hover {
  border-bottom: 2px solid #61CE4E;
}

header > .right-header .navbar > .navbar-item > a#subscribe {
  background-color: #F47637;
  border-radius: 2px;
  color: white;
  padding: 8px 20px;
  font-size: 16px;
}

.content {
  width: 100%;
}

.content .become-developer {
  width: 100%;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
}

.content .become-developer .left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 100%;
}

.content .become-developer .left .cont {
  width: 60%;
  height: 70%;
}

.content .become-developer .left h1 {
  color: #61CE4E;
  font-size: 45px;
  font-weight: 400;
  margin-bottom: 8px;
}

.content .become-developer .left p {
  color: #1B3C59;
  font-size: 18px;
  margin: 0 0 40px;
}

.content .become-developer .left a {
  color: white;
  background-color: #F47637;
  font-size: 18px;
  padding: 15px 20px;
}

.content .become-developer .right {
  width: 55%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .become-developer .right > img {
  max-width: 80%;
  max-height: 75%;
}

.content .partners {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  background-color: #1B3C59;
}

.content .partners > h2 {
  margin: 0 0 8px;
  font-weight: 400;
}

.content .partners > .brands > img {
  width: 150px;
  height: 35px;
  margin: 20px;
  padding: 0 15px;
}

@media all and (max-width: 1000px) {
  .navbar-item {
    display: none;
  }

  .become-developer > .left,
  .become-developer > .right {
    width: 100% !important;
  }

  .partners {
    display: none !important;
  }
}

