@import url(https://fonts.googleapis.com/css?family=Rubik);@import url(https://use.fontawesome.com/releases/v5.8.2/css/all.css);* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 14%;
  background-color: white;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

header > .left-header {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

header > .left-header > img {
  max-width: 90%;
  max-height: 60%;
  padding-left: 10px;
  cursor: pointer;
}

header > .right-header {
  width: 60%;
  height: 100%;
}

header > .right-header .navbar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header > .right-header .navbar > .navbar-item > a.item {
  color: #1B3C59;
  font-size: 15px;
  padding: 10px;
}

header > .right-header .navbar > .navbar-item > a.item:hover {
  border-bottom: 2px solid #61CE4E;
}

header > .right-header .navbar > .navbar-item > a#subscribe {
  background-color: #F47637;
  border-radius: 2px;
  color: white;
  padding: 8px 20px;
  font-size: 16px;
}

header > .right-header .navbar > .navbar-item .selected {
  border-bottom: 2px solid #61CE4E;
}

header i.fas.fa-bars {
  padding-right: 20px;
  font-size: 30px;
  color: #1B3C59;
  display: none;
  cursor: pointer;
}

.content {
  width: 100%;
}

.content .become-developer {
  width: 100%;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
}

.content .become-developer .left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 100%;
}

.content .become-developer .left .cont {
  width: 60%;
  height: 70%;
}

.content .become-developer .left h1 {
  color: #61CE4E;
  font-size: 45px;
  font-weight: 400;
  margin-bottom: 8px;
}

.content .become-developer .left p {
  color: #1B3C59;
  font-size: 18px;
  margin: 0 0 40px;
}

.content .become-developer .left a {
  color: white;
  background-color: #F47637;
  font-size: 18px;
  max-width: 40%;
  padding: 15px 20px;
}

.content .become-developer .right {
  width: 55%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .become-developer .right > img {
  max-width: 75%;
  max-height: 70%;
}

.content .partners {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  background-color: #1B3C59;
}

.content .partners > h2 {
  margin: 0 0 8px;
  font-weight: 400;
}

.content .partners > .brands > img {
  width: 150px;
  height: 35px;
  margin: 20px;
  padding: 0 15px;
}

.content .why-boolean {
  height: 450px;
  width: 100%;
  padding: 40px;
  background-color: #E8EBF1;
  color: #1B3C59;
}

.content .why-boolean > h2 {
  text-align: center;
  margin: 0 0 20px;
  font-size: 32px;
  font-weight: 400;
}

.content .why-boolean .points {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.content .why-boolean .points .point {
  width: 30%;
  padding: 0 15px;
}

.content .why-boolean .points .point > img {
  width: 25px;
  height: 30px;
}

.content .why-boolean .points .point > h3 {
  display: inline;
  font-size: 18px;
  font-weight: 400;
}

.content .why-boolean .points .point > p {
  margin: 25px 0 16px;
  font-size: 14px;
}

.content .new-profession {
  width: 100%;
  height: 400px;
  background-color: #1B3C59;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.content .new-profession > h2 {
  font-weight: 300;
  font-size: 32px;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 0 20px;
}

.content .new-profession > p {
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 20px;
  padding: 0 20px;
}

.content .new-profession a {
  font-size: 24px;
  background-color: #F47637;
  color: white;
  margin: 30px 0 0;
  padding: 15px 50px;
}

.content .new-profession .next-course {
  width: 260px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10%;
  right: 20%;
}

.content .new-profession .next-course > .bell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: 50px;
  z-index: 500;
}

.content .new-profession .next-course > .bell > i.far.fa-bell {
  color: #1B3C59;
  font-size: 25px;
}

.content .new-profession .next-course > .green-block {
  width: 260px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  padding-left: 25px;
  border-radius: 25px;
  background-color: #61CE4E;
  position: absolute;
  top: 0;
  left: 50%;
}

.prefooter {
  width: 100%;
  height: 250px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.prefooter > img {
  max-width: 300px;
  max-height: 90px;
}

.prefooter .links {
  width: 15%;
  text-align: center;
}

.prefooter .links > a {
  display: block;
  padding-bottom: 3px;
  font-size: 13px;
  color: #1B3C59 !important;
}

.prefooter .links > a:hover {
  text-decoration: underline;
}

.prefooter .social > i.fab {
  color: #1B3C59;
  font-size: 30px;
  margin-right: 5px;
  cursor: pointer;
}

footer .boolean-returns {
  width: 100%;
  height: 70px;
  background-color: #1B3C59;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer .boolean-returns > small {
  font-size: 12px;
}

.how-to-become {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  color: #1B3C59;
}

.how-to-become > .phrases > h1 {
  font-weight: 400;
  font-size: 44px;
  padding: 0 80px;
  margin: 0 0 8px;
}

.how-to-become > .phrases > p {
  padding: 0 80px;
  margin: 0 0 16px;
  font-size: 18px;
}

.how-to-become > .phrases > p > a {
  color: #1B3C59;
  text-decoration: underline;
}

.questions {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.questions > .left,
.questions > .right {
  width: 50%;
  height: 100%;
  padding: 50px;
}

.questions > .left .cont,
.questions > .right .cont {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.questions > .left .cont > p,
.questions > .right .cont > p {
  display: none;
  width: 80%;
  font-size: 18px;
  margin: 0 0 16px;
}

.questions > .left h2,
.questions > .right h2 {
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 30px;
}

.questions > .left h3,
.questions > .right h3 {
  width: 80%;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 30px;
  cursor: pointer;
}

.questions > .left h3 i.fas.fa-minus,
.questions > .right h3 i.fas.fa-minus {
  display: none;
}

.questions > .left {
  background-color: #E8EBF1;
  color: #1B3C59;
}

.questions > .right {
  background-color: #1B3C59;
  color: white;
}

@media all and (max-width: 1000px) {
  .navbar-item {
    display: none;
  }

  .become-developer {
    height: auto !important;
    margin-bottom: 50px;
  }

  .become-developer .left {
    margin-bottom: 50px;
  }

  .become-developer > .left,
  .become-developer > .right {
    width: 100% !important;
  }

  .partners {
    display: none !important;
  }

  .why-boolean {
    height: auto !important;
  }

  .point {
    width: 100% !important;
  }

  .right-header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right-header i.fas.fa-bars {
    display: block !important;
  }

  .next-course {
    top: 3% !important;
    right: 40% !important;
  }

  .prefooter > .links {
    width: 100% !important;
  }

  .boolean-returns {
    padding: 0 20px;
  }

  .questions > .left,
  .right {
    width: 100% !important;
  }
}

